alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
closure-problem==2019.6.1
coverage==4.5.3
decorator==4.4.0
docutils==0.14
gprof2dot==2017.9.19
HNCcorr==2019.6.1
idna==2.8
imagesize==1.1.0
importlib-metadata==0.18
Jinja2==2.10.1
joblib==0.13.2
MarkupSafe==1.1.1
more-itertools==7.0.0
networkx==2.3
numpy==1.16.4
packaging==19.0
pathlib2==2.3.4
Pillow==6.0.0
pkginfo==1.5.0.1
pluggy==0.12.0
pseudoflow==2019.6.5
py==1.8.0
Pygments==2.4.2
pyparsing==2.4.0
pytest==4.6.3
pytest-cov==2.7.1
pytest-mock==1.10.4
pytest-profiling==1.7.0
pytest-runner==5.1
pytz==2019.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
snowballstemmer==1.9.0
sparsecomputation==2019.6.3
Sphinx==2.1.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tqdm==4.32.2
twine==1.13.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.5.1
